<% include ../partials/header %>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-4">
      <h1 class="text-center">
        <%=currentUser.username%>'s Links
      </h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-4">
      <% currentUser.links.forEach(function(link){ %>
        <a class="btn btn-primary btn-block" href="https://<%= link.text %>" role="button"><%= link.name %></a>

      <% }); %>
      
      <a class="btn btn-success" href="/profile/<%= currentUser._id %>/new">Add New Link</a>

    </div>
  </div>

</div>

<% include ../partials/footer %>