html{
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #70bg32;
  background-repeat:no-repeat;
}

.mainBtn{
  border-radius: 0.8rem;
  background: rgba(223, 230, 233,0.5);
  color: #2d3436;
  border: 1px solid white;
}
.mainBtn:hover{
  background: rgba(245, 246, 250, 0.9);
  color:#2d3436;
  border: 1px solid white;
}
.showbtn {
  display: block;
  padding: 10px;
  margin: 10px;
  
}

/*====================== HOME PAGE ====================== */
#iphoneDisp {
  height: 500px;
  display: -webkit-inline-box;
  margin-left: 30%;
}

@media only screen and (max-width: 813px) {
  #iphoneDisp {
    height: 500px;
    display: -webkit-inline-box;
    margin: 10%;
  }
}

.iphoneWork {
  height: 500px;
  display: -webkit-inline-box;
  margin: 10%;
  text-align:center;
}

.landingContent h1 {
  padding-top:13%;
  font-weight: 800;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}
.landingContent p {
  color: black;
  font-size: 1.1rem;
}

.landingContent {
  text-align: left;
  margin: 8% 0%;
  
}

.actionCallButton {
  float: left;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 14px;
  height: 2.5rem;
  line-height: 0.8em;
  padding: 0 1.66667rem;
  background: #0984e3;
  border: 0;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 1.875rem;
  text-align: center;
  transition: 0.2s;
  user-select: none;
  white-space: nowrap;
  width: -webkit-fit-content;
  margin: 0.625rem 0;
  width: min-content;
  letter-spacing: .1rem;
}

.saveButton:hover {
  border-color: #2e86de;
}
.workDescription {
  font-size: 1.57rem;
  margin: 1% 15%;
}

#howItWorksSection {
  margin-top: 10%;
}

#howItWorksSection .numbers {
    align-items: center;
    background: #0984e3;
    border-radius: 50%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    font-size: 1.125rem;
    height: 2.5rem;
    justify-content: center;
    line-height: 0.8em;
    margin: 0 0 1.25rem 10rem;
    width: 2.5rem;
}

.phoneCols {
  text-align:center;
}

#features {
  margin-top: 10%;
}

#pricing {
  margin-top: 8rem;
}


Edit in JSFiddle
Result
HTML
CSS
JavaScript
Resources
section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
/*----------------- END OF STYLING FOR HOME PAGE-----------------*/

/*====================== STYLING FOR PROFILE SHOW PAGE ====================== */

.deleteFormButton {
  display: inline;
  float: left;
}

.deleteButton{
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 14px;
  height: 2.5rem;
  line-height: 0.8em;
  padding: 0 0.8rem;
  background: none;
  border: 2px solid #ff6b6b;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 1.875rem;
  text-align: center;
  transition: 0.2s;
  user-select: none;
  white-space: nowrap;
  width: -webkit-fit-content;
  margin: 0.625rem;
  width: min-content;
  color: #ff6b6b;
}
.deleteButton:hover{
  border-color: #ee5253;
  background: #ee5253;
  color: white;
}

.saveButton {
  float: right;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 14px;
  height: 2.5rem;
  line-height: 0.8em;
  padding: 0 1.66667rem;
  background: #54a0ff;
  border: 0;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 1.875rem;
  text-align: center;
  transition: 0.2s;
  user-select: none;
  white-space: nowrap;
  width: -webkit-fit-content;
  margin: 0.625rem;
  width: min-content;

}
.saveButton:hover{
border-color: #2e86de;
}
.editButton {
  float:right;
}

@media all and (max-width:30em){
.saveButton{
display:block;
margin:0.2em auto;
}
.deleteButton{
display:block;
margin:0.2em auto;
}
}

#edit-button {
    display: inline;
    
}

#addButton {
  position: fixed;
  bottom: -4px;
  right: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#addlinkbutton {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-self: center;

}
#addlinkbutton:hover {
  text-decoration: none;
  box-shadow: 0px 0px 10px #2e86de;
  border-radius: 50%;
  
}

.linkButtons:active {
  outline: none;
  border:none;
}
#addlinkbutton i {
  color:white;
  display: flex;
  background-color:  #2e86de;
  border-radius: 50%;
  box-shadow: 0px 0px 5px grey;
}

#links-form {
    display: grid;
    margin: 10px;
}
.profilePic {
  border-radius: 50%;
  border: 2px solid white;
  width:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.porfileName {
  color: white;
}

.location {
  align-items: center;
  border: 2px solid white;
  border-radius: 1.5625rem;
  color: white;
  display: flex;
  font-size: 0.875rem;
  margin: 1.2rem 0rem;
  padding: 0.5rem 0.9375rem 0.5rem 0.625rem;
  width: max-content;
  
}

.location .icon {
    margin-right: 0.3125rem;
}
.profileInfoRow {
  margin: auto;
}
.profileInfoBox {
  display: block;
  text-align: -webkit-center;
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bio {
  /*color: #7882aa;*/
  margin: 10px 0;
  white-space: pre-wrap;
  text-align: center;
  display: block;
}

.profileInfoRow p {
  color: white;
  font-size: 0.875rem;
  line-height: 1.6;
}



/*----------------- END OF STYLING FOR PROFILE SHOW PAGE-----------------*/



/*====================== STYLING FOR RADIO BUTTONS ====================== */


.colorBoxes {
  margin-top: 2rem;
}

.colorBoxes form {
  margin-top: 1.5rem;
}
/* The radioContainer */
.radioContainer {
  display: inline-flex;
  position: relative;
  padding: 50px 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10%;
  height: 137px;
  width: 137px;
  align-items: center;
  justify-content: center;

}

@media all and (max-width:30em){
.radioContainer {
  display: inline-flex;
  position: relative;
  padding: 50px 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10%;
  height: 137px;
  width: 137px;
  align-items: normal;
  justify-content: center;

}
}

.greenBox {
  background: #DCE35B;  /* fallback for old browsers */ 
  background: -webkit-linear-gradient(180deg, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */ 
  background: linear-gradient(180deg, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blueBox {
  background: #56CCF2;  /* fallback for old browsers */ 
  background: -webkit-linear-gradient(180deg, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */ 
  background: linear-gradient(180deg, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.redBox {
  background: #cb2d3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(0deg, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(0deg, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.pinkBox {
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.paidBox1 {
  
  background: #4DA0B0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.paidBox2 {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Hide the browser's default radio button */
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 0%;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
  background-color: rgba(178, 190, 195,0.5);
  border-radius: inherit;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
  background-color: rgba(99, 110, 114,0.1);
  border-radius: inherit;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
 	top: 40%;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*----------------- END OF STYLING FOR RADIO BUTTONS-----------------*/

/*======================  EDIT PROFILE PAGE ==========================*/
/*START TRYING TO MAKE UPLOAD WORK*/
.figureFace:hover{
  border: 2px dashed grey;
  border-radius: 50%;
}

.gambar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
label.cabinet{
	display: block;
	cursor: pointer;
}

label.cabinet input.file{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top:-30px;
}

#upload-demo{
	width: 250px;
	height: 250px;
  padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}
/* END OF TRYING TO MAKE UPLOAD WORK*/
.linkButtons{
  display:block;
  margin: 10px 0px;
  width: -webkit-fill-available;
}
.linkButtons:hover {
  
}
.formOne {
  display: contents
  
}
/*----------------- END OF STYLING FOR EDIT PROFILE PAGE -----------------*/


/*====================== CROPPIE STYLING ==========================*/

#page {
  background: #FFF;
  padding: 20px;
  margin: 20px;
}

#demo {
  width: 200px;
  height: 300px;
}




/*====================== FOOTRER STYLING ==========================*/

footer {

  color: grey;
  font-size: 0.75rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */

}

.datalchemyLogo {
  height: 20px;
  display: -webkit-inline-box;
  margin-left: 5px;
  
}





/* PAYMENT STYLING */

.StripeElement {
  box-sizing: border-box;

  height: 40px;
  width: -webkit-fill-available;
  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}