html{
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #70bg32;
  background-repeat:no-repeat;
}

.mainBtn{
  border-radius: 0.8rem;
  background: rgba(223, 230, 233,0.5);
  color: #2d3436;
  border: 1px solid white;
}
.mainBtn:hover{
  background: rgba(245, 246, 250, 0.9);
  color:#2d3436;
  border: 1px solid white;
}
.showbtn {
  display: block;
  padding: 10px;
  margin: 10px;
  
}

/*====================== STYLING FOR PROFILE SHOW PAGE ====================== */

.deleteFormButton{
  display: inline;
  float: left;
}

.deleteButton{
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 14px;
  height: 2.5rem;
  line-height: 0.8em;
  padding: 0 0.8rem;
  background: none;
  border: 2px solid #ff6b6b;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 1.875rem;
  text-align: center;
  transition: 0.2s;
  user-select: none;
  white-space: nowrap;
  width: -webkit-fit-content;
  margin: 0.625rem;
  width: min-content;
  color: #ff6b6b;
}
.deleteButton:hover{
  border-color: #ee5253;
  background: #ee5253;
  color: white;
}

.saveButton {
  float: right;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 14px;
  height: 2.5rem;
  line-height: 0.8em;
  padding: 0 1.66667rem;
  background: #54a0ff;
  border: 0;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 1.875rem;
  text-align: center;
  transition: 0.2s;
  user-select: none;
  white-space: nowrap;
  width: -webkit-fit-content;
  margin: 0.625rem;
  width: min-content;

}
.saveButton:hover{
border-color: #2e86de;
}
.editButton {
  float:right;
}

@media all and (max-width:30em){
.saveButton{
display:block;
margin:0.2em auto;
}
.deleteButton{
display:block;
margin:0.2em auto;
}
}

#edit-button {
    display: inline;
    
}

#addButton {
  position: fixed;
  bottom: -4px;
  right: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#addlinkbutton {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-self: center;

}
#addlinkbutton:hover {
  text-decoration: none;
  box-shadow: 0px 0px 10px #2e86de;
  border-radius: 50%;
  
}

.linkButtons:active {
  outline: none;
  border:none;
}
#addlinkbutton i {
  color:white;
  display: flex;
  background-color:  #2e86de;
  border-radius: 50%;
  box-shadow: 0px 0px 5px grey;
}

#links-form {
    display: grid;
    margin: 10px;
}
.profilePic {
  border-radius: 50%;
  border: 2px solid white;
  width:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.porfileName {
  color: white;
}

.location {
  align-items: center;
  border: 2px solid white;
  border-radius: 1.5625rem;
  color: white;
  display: flex;
  font-size: 0.875rem;
  margin: 1.2rem 0rem;
  padding: 0.5rem 0.9375rem 0.5rem 0.625rem;
  width: max-content;
  
}

.location .icon {
    margin-right: 0.3125rem;
}
.profileInfoRow {
  margin: auto;
}
.profileInfoBox {
  display: block;
  text-align: -webkit-center;
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bio {
  /*color: #7882aa;*/
  margin: 10px 0;
  white-space: pre-wrap;
  text-align: center;
  display: block;
}

p {
  color: white;
  font-size: 0.875rem;
  line-height: 1.6;
}



/*----------------- END OF STYLING FOR PROFILE SHOW PAGE-----------------*/



/*====================== STYLING FOR RADIO BUTTONS ====================== */

/* The radioContainer */
.radioContainer {
  display: -webkit-inline-box;
  position: relative;
  padding: 50px 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10%;
}

.greenBox {
  background: #DCE35B;  /* fallback for old browsers */ 
  background: -webkit-linear-gradient(180deg, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */ 
  background: linear-gradient(180deg, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blueBox {
  background: #56CCF2;  /* fallback for old browsers */ 
  background: -webkit-linear-gradient(180deg, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */ 
  background: linear-gradient(180deg, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.redBox {
  background: #cb2d3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(0deg, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(0deg, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.pinkBox {
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Hide the browser's default radio button */
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 0%;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
  background-color: rgba(178, 190, 195,0.5);
  border-radius: inherit;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
  background-color: rgba(99, 110, 114,0.1);
  border-radius: inherit;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
 	top: 40%;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*----------------- END OF STYLING FOR RADIO BUTTONS-----------------*/

/*======================  EDIT PROFILE PAGE ==========================*/
/*START TRYING TO MAKE UPLOAD WORK*/
.figureFace:hover{
  border: 2px dashed grey;
  border-radius: 50%;
}

.gambar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
label.cabinet{
	display: block;
	cursor: pointer;
}

label.cabinet input.file{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top:-30px;
}

#upload-demo{
	width: 250px;
	height: 250px;
  padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}
/* END OF TRYING TO MAKE UPLOAD WORK*/
.linkButtons{
  display:block;
  margin: 10px 0px;
  width: -webkit-fill-available;
}
.linkButtons:hover {
  
}
.formOne {
  display: contents
  
}
/*----------------- END OF STYLING FOR EDIT PROFILE PAGE -----------------*/


/*====================== CROPPIE STYLING ==========================*/

#page {
  background: #FFF;
  padding: 20px;
  margin: 20px;
}

#demo {
  width: 200px;
  height: 300px;
}

