<% include ../partials/header %>
<div class="container">
    <div class="row justify-content-center pt-4">
        <h1><%= currentUser.username %>'s Analytics </h1>
    </div>
    
    <div class="row justify-content-center">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Link Name</th>
          <th scope="col">Total Views</th>
        </tr>
      </thead>
      <tbody>
         <% links.forEach(function(link){ %>
        <tr>
          <th scope="row"><%= link.name %></th>
          <td><%= link.clicks.length %></td>
        </tr>
        <% }); %>
        
      </tbody>
    </table>
    </div>
    
    <!--This is where the chart will go-->
    <canvas id="myChart"></canvas>
    
    <script src="/js/lodish.js"></script>
    

    
    <script>
    // We grab the links data from the server and put it in the front end script file
    var linksData = <%- JSON.stringify(links) %>;
    
    // A hand picked nice color platlette to randomly choose from
    var chartColorsBorder = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
      	blue: 'rgb(54, 162, 235)',
      	purple: 'rgb(153, 102, 255)',
      	grey: 'rgb(201, 203, 207)'
    };
    var chartColorsBackground = {
        red: 'rgba(255, 99, 132, 0.5)',
        orange: 'rgba(255, 159, 64, 0.5)',
        yellow: 'rgba(255, 205, 86, 0.5)',
        green: 'rgba(75, 192, 192, 0.5)',
      	blue: 'rgba(54, 162, 235, 0.5)',
      	purple: 'rgba(153, 102, 255, 0.5)',
      	grey: 'rgba(201, 203, 207, 0.5)'
    };
    
    // A randomizer function to pick the colors
    var randomProperty = function (obj) {
    var keys = Object.keys(obj)
    return obj[keys[ keys.length * Math.random() << 0]];
    };
    
    var randomNum = function(obj){
      var max = Object.keys(obj).length
      return Math.floor(Math.random() * Math.floor(max));
    };
    
    var timeFormat = "YYYY/MM/DD";
    // A helper function to extract date from datetime format
    var date = function(d){
    return moment(d.clickTime).format(timeFormat);
    }
    
    // map a group to the required shape
    var groupToSummary = function(group, date) {
    return {
        x: date,
        y: group.length
        }
    }
    
    
    const viewByLink = linksData.map(item => {
    const totalViewsByLink = {};

    totalViewsByLink.label = item.name;
    totalViewsByLink.data = {

      x: item.clicks.length
    };

    return totalViewsByLink;
    })
    
    const chartDatasets = linksData.map(item => {
        const container = {};
    
        container.label = item.name;
        randomlyChosenNum = randomNum(chartColorsBorder);
        container.backgroundColor = chartColorsBackground[Object.keys(chartColorsBackground)[randomlyChosenNum]];
        container.borderColor = chartColorsBorder[Object.keys(chartColorsBorder)[randomlyChosenNum]];
        container.showLine = true,
        container.data = _(item.clicks).groupBy(date).map(groupToSummary).value();
        return container;
    })
    
        

    var configStandard = {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },
    
        // Configuration options go here
        options: {}
    }
    
    var configTime = {
        type: 'line',
          data: {
            datasets: chartDatasets
          },
          options: {
            scales: {
              xAxes: [{
                type: 'time',
                time: {
                  unit: 'day',
                parser: timeFormat,
                tooltipFormat: 'll HH:mm'
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                }
              }],
              yAxes: [{
                  scaleLabel: {
                      display: true,
                      labelString: 'No. Of Clicks'
                  }
              }]
            }
          }
    }
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, configTime);
    
    
    </script>

    
</div>


<% include ../partials/footer %>


