<% include ../partials/header %>

<div class="container colorBoxes">
    <div class="row justify-content-center">
        <div class= "col-12 col-md-6 text-center" id="colorPicker">
            <h1> Pick Theme Color</h1>
            
              <form action="/<%= currentUser.username %>/theme" method="POST" name="colorForm">
                  <label class="radioContainer greenBox">Green
                    <input type="radio" name="radio" value="green">
                  <span class="checkmark"></span>
                </label>
                <label class="radioContainer blueBox">Blue
                    <input type="radio" name="radio" value="blue">
                  <span class="checkmark"></span>
                </label>
                <label class="radioContainer redBox">Red
                    <input type="radio" name="radio" value="red">
                  <span class="checkmark"></span>
                </label>
                <label class="radioContainer pinkBox">Piggy Pink
                    <input type="radio" name="radio" value="pink">
                  <span class="checkmark"></span>
                </label>
                <label class="radioContainer paidBox1">Miamai Dolphins <i class="fas fa-lock"></i>
                    <input type="radio" name="radio" value="pink">
                  <span class="checkmark"></span>
                </label>
                <label class="radioContainer paidBox2">Grade Grey <i class="fas fa-lock"></i>
                    <input type="radio" name="radio" value="pink">
                  <span class="checkmark"></span>
                </label>

                <!--<button type="submit" class="btn btn-lg btn-primary btn-block">Submit Theme!</button>-->
              </form>

        </div>
    </div>
    
<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-plan_F6WPBCXuWZh5Nb"
  role="link"
>
  Checkout
</button>

<div id="error-message"></div>


        

            
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
    <script type="text/javascript" src="/js/index.js"></script>
    <script src="/js/jquery.js"></script>

<script>
  var stripe = Stripe('pk_live_ulRi0y5JZqC2OTQEZqxKbmpC00pzBU0rsV');

  var checkoutButton = document.getElementById('checkout-button-plan_F6WPBCXuWZh5Nb');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: 'plan_F6WPBCXuWZh5Nb', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: window.location.protocol + '//www.lnkup.co/success',
      cancelUrl: window.location.protocol + '//www.lnkup.co/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>
     
        
        
    
<script>

    // $("ul").on("click", "li", function(){
    //     var clickedLi = $(this).html();
    //     $(this).toggleClass("completed");
    //     console.log(clickedLi);
        
    // });
    
    // $(document).ready( function() {
    //   $("form[name=radio] input").on("change", function() {
    //     $("form").submit();
    //   }
    // });
    $('input[name=radio]').change(function(){
     $('form').submit();

});
    
    var currentUsernameIs= "<%=currentUser.username%>";
    
     $("ul").on("click", "li", function(){
        //  var clickedLi = {};
        var colorName = $(this).html();
        //  console.log("here is the clickLi", clickedLi);
        //  var stringData = JSON.stringify(clickedLi);
         $(this).toggleClass("completed");
         $.ajax({
             type: "POST",
             dataType: "json",
             url: "https://webdevtry-moeraza.c9users.io/" + currentUsernameIs + "/theme/choose",
             data: {"colorName": String(colorName) },
             contentType: 'application/json',
             cache: false,
             timeout: 5000,
             
             complete: function(comp) {
                 console.log("Process complete", comp)
             }, 
             
             success: function(data) {
                 console.log('success');
                 console.log("HERE IS THE DATA BEING SENT:", JSON.stringify(data));
                
             }, 
             
             error: function(err){
                 console.log("process error", err)
             }
         });
        
     });
  </script>


</html>